<!-- <footer class="bg-white relative z-50 p-4 md:py-8   sm:mx-40">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:justify-between sm:items-center flex-wrap text-center mb-6 border-b border-gray-200 sm:mx-auto ">
            <div class="flex items-center mb-4 sm:mb-0">
                <img src="images/logo-BfNap0Pe.png" class="w-8" alt="">
                <span class="capitalize text-2xl font-semibold">recipe</span>
            </div>
    
            <span class="flex justify-items-start sm:block sm:justify-normal capitalize text-blue-700 font-bold text-2xl">route</span>
        </div>
    
        <span class="capitalize block text-sm text-gray-500 sm:text-center dark:text-gray-400 my-6"> © 2025 nagy osama™. all rights reserved.</span>
    </div>

</footer> -->


<footer class="bg-white rounded-lg shadow-sm  z-[55] relative">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="images/logo-BfNap0Pe.png" class="w-8" alt="">
                <p class="self-center text-2xl font-semibold whitespace-nowrap capitalize">recipe</p>
            </a>
            <p class="text-blue-700 font-bold text-2xl capitalize">route</p>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8">
        <p class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2025 nagy osama™. all rights reserved.</p>
    </div>


</footer>
